Ltfs/Index/LtfsIndex.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ltfsindex">
        <xs:complexType>
            <xs:all>
                <xs:element name="creator" type="xs:string" />
                <xs:element name="comment" type="xs:string" minOccurs="0" />
                <xs:element name="volumeuuid" type="uuid" />
                <xs:element name="generationnumber" type="xs:nonNegativeInteger" />
                <xs:element name="updatetime" type="datetime" />
                <xs:element name="location" type="tapeposition" />
                <xs:element name="previousgenerationlocation" type="tapeposition" minOccurs="0" />
                <xs:element name="allowpolicyupdate" type="xs:boolean" />
                <xs:element name="dataplacementpolicy" type="policy" minOccurs="0" />
                <xs:element name="volumelockstate" type="locktype" minOccurs="0" />
                <xs:element name="highestfileuid" type="xs:nonNegativeInteger" />
                <xs:element ref="directory" />
            </xs:all>
            <xs:attribute name="version" use="required" type="version" />
        </xs:complexType>
    </xs:element>
    <xs:element name="directory">
        <xs:complexType>
            <xs:all>
                <xs:element name="fileuid" type="xs:nonNegativeInteger" />
                <xs:element name="name" type="nametype" />
                <xs:element name="creationtime" type="datetime" />
                <xs:element name="changetime" type="datetime" />
                <xs:element name="modifytime" type="datetime" />
                <xs:element name="accesstime" type="datetime" />
                <xs:element name="backuptime" type="datetime" />
                <xs:element name="readonly" type="xs:boolean" />
                <xs:element ref="extendedattributes" minOccurs="0" />
                <xs:element name="contents">
                    <xs:complexType>
                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element ref="directory" />
                            <xs:element ref="file" />
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="file">
        <xs:complexType>
            <xs:all>
                <xs:element name="fileuid" type="xs:nonNegativeInteger" />
                <xs:element name="name" type="nametype" />
                <xs:element name="length" type="xs:nonNegativeInteger" />
                <xs:element name="creationtime" type="datetime" />
                <xs:element name="changetime" type="datetime" />
                <xs:element name="modifytime" type="datetime" />
                <xs:element name="accesstime" type="datetime" />
                <xs:element name="backuptime" type="datetime" />
                <xs:element name="readonly" type="xs:boolean" />
                <xs:element ref="extendedattributes" minOccurs="0" />
                <xs:element name="openforwrite" type="xs:boolean" minOccurs="0" />
                <xs:element ref="extenttype" minOccurs="0" />
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="extendedattributes">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="xattr">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="key" type="nametype" />
                            <xs:element name="value">
                                <xs:complexType>
                                    <xs:attribute name="type" default="text">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:token">
                                                <xs:enumeration value="base64" />
                                                <xs:enumeration value="text" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="extenttype" abstract="true" />
    <xs:element name="extentinfo" substitutionGroup="extenttype">
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="extent">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="partition" type="partitionid" />
                            <xs:element name="startblock" type="xs:nonNegativeInteger" />
                            <xs:element name="byteoffset" type="xs:nonNegativeInteger" />
                            <xs:element name="bytecount" type="xs:positiveInteger" />
                            <xs:element name="fileoffset" type="xs:nonNegativeInteger" />
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="symlink" type="nametype" substitutionGroup="extenttype" />
    <xs:complexType name="policy">
        <xs:sequence>
            <xs:element name="indexpartitioncriteria">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="nametype" minOccurs="0" maxOccurs="unbounded" />
                        <xs:element name="size" type="xs:nonNegativeInteger" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tapeposition">
        <xs:all>
            <xs:element name="partition" type="partitionid" />
            <xs:element name="startblock" type="xs:nonNegativeInteger" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="nametype">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="percentencoded" type="xs:boolean" default="false" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="version">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]+\.[0-9]+\.[0-9]+" />
            <xs:enumeration value="2.4.0" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="datetime">
        <xs:restriction base="xs:string">
            <xs:pattern
                value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}\.[0-9]{9}Z" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="partitionid">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="locktype">
        <xs:restriction base="xs:string">
            <xs:enumeration value="unlocked" />
            <xs:enumeration value="locked" />
            <xs:enumeration value="permlocked" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="uuid">
        <xs:restriction base="xs:string">
            <xs:pattern
                value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
