LtfsTest/LtfsLabel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ltfslabel">
        <xs:complexType>
            <xs:all>
                <xs:element name="creator" type="xs:string" />
                <xs:element name="formattime" type="datetime" />
                <xs:element name="volumeuuid" type="uuid" />
                <xs:element name="location">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="partition" type="partitionid" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="partitions">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="index" type="partitionid" />
                            <xs:element name="data" type="partitionid" />
                        </xs:all>
                    </xs:complexType>
                </xs:element>
                <xs:element name="blocksize" type="blocksize" />
                <xs:element name="compression" type="xs:boolean" />
            </xs:all>
            <xs:attribute name="version" use="required" type="version" />
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="blocksize">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="4096" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="version">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]+\.[0-9]+\.[0-9]+" />
            <xs:enumeration value="2.4.0" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="datetime">
        <xs:restriction base="xs:string">
            <xs:pattern
                value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}\.[0-9]{9}Z" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="partitionid">
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="uuid">
        <xs:restriction base="xs:string">
            <xs:pattern
                value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
